<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291102220360-ll6gaq8jm5eooburniinfeog8h98qd9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291102220360-ll6gaq8jm5eooburniinfeog8h98qd9l</string>
	<key>API_KEY</key>
	<string>AIzaSyCyWgVgNikqygzkQLKefsNcX73gr1iMFnE</string>
	<key>GCM_SENDER_ID</key>
	<string>291102220360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fsd.iLivenet3</string>
	<key>PROJECT_ID</key>
	<string>livedemo-fa31b</string>
	<key>STORAGE_BUCKET</key>
	<string>livedemo-fa31b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291102220360:ios:4dd47f353eae41a985787d</string>
	<key>DATABASE_URL</key>
	<string>https://livedemo-fa31b.firebaseio.com</string>
</dict>
</plist>